/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}


/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=b533e5acbeb97dfa20e4af1c8a0b56dc)
 * Config saved to config.json and https://gist.github.com/b533e5acbeb97dfa20e4af1c8a0b56dc
 *//*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:hover,a:focus{color:#23527c;text-decoration:underline}a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}[role="button"]{cursor:pointer}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}

 @font-face{
    font-family: 'BebasNeueBold';
    src: url('../font/ofont.ru_Bebas Neue Bold.eot'),
        url('../font/BebasNeueBold.woff') format('woff'),
        url('../font/BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


figure, figcaption {
    display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    line-height: 108%;
    font-weight: bold;
    height: 32px;
}

.timeTo span {
    vertical-align: top;
    margin: 0 8px;
    color: #fff;
    font: 37px/65px 'Open Sans', sans-serif;
}

.timeTo.timeTo-white div {
    background: #fff;
    color: #003d53;
}


.timeTo.timeTo-white .timeTo-alert {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 35%, #e17373 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#ffffff), color-stop(100%,#e17373)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 35%,#e17373 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 35%,#e17373 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 35%,#e17373 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 35%,#e17373 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e17373',GradientType=0 ); /* IE6-9 */
}

.timeTo figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.timeTo figcaption {
    text-align: center;
    font: 16px/16px 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #003d53;
}

.timeTo div {
    position: relative;
    display: inline-block;
    width: 35px!important;
    height: 70px!important;
    overflow: hidden;
    margin-left: -1px;
}
.timeTo div.first {
    border-radius: 35px 0 0 35px;
}
.timeTo div:nth-child(2){
    border-radius: 0 35px 35px 0;
}
.timeTo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 3px;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 55px;
}
@media (max-width: 1220px){
    .timeTo {
        height: 96px;
    }
}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;color:#337ab7;text-decoration:none}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}mark{background:#ff0;color:#000}.img-thumbnail,body{background-color:#fff}sub,sup{line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}.cbl-name p,.contrast-block-name h2,.footer-copy p,.footer-pay p,.header-action-name p,.header-name h2,.header-text p,.obl-info h3,.pay-block-name h2,.sbn-name h2,.tbl-info h3{text-transform:uppercase}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}optgroup{font-weight:700}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}body{color:#333}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}figure{margin:0}.img-responsive{height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}.container,.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}[role=button]{cursor:pointer}@media (max-width:1005px){.header-name-signature{text-align:center}}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row{margin-left:-15px;margin-right:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{content:" ";display:table}.clearfix:after,.container-fluid:after,.container:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right!important}.pull-left{float:left!important}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none!important}.affix{position:fixed}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;width:100%;min-width:300px}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{outline:0}header{background:url(../img/info-bg.png) center top no-repeat}.header-body{width:1170px;margin:0 auto;position:relative}.header-girl{position:absolute;top:0;left:-56px;z-index:1}.header-pack{width:481px;display:inline-block;vertical-align:bottom;text-align:center;position:relative;margin:2px 0 0 8px;z-index:3}.header-pack-sale{display:none;position:absolute;top:-11px;left:19px;background:url(../img/header-sale.png) no-repeat;width:121px;text-align:center;padding:35px 0 34px}.feed-content,.header-content,.header-form,.header-list,.header-text{position:relative}.header-pack-sale p{font:17px/17px Roboto,sans-serif;color:#fff}.header-pack-sale p span{font:37px/37px Roboto,sans-serif;font-weight:800}.header-pack-mobile{display:none}.header-info{width:679px;display:inline-block;vertical-align:top;margin-left:2px}.header-name{margin-left:89px;padding-top:25px}.header-name h2{font:60px/60px "Open Sans",sans-serif;color:#fff;font-weight:500;width:100%;display:block;margin-left:13px}.header-name h2 span{background:#fff;font:56px/60px "Open Sans",sans-serif;color:#b1d825;font-weight:700;border-radius:0 35px 35px 0;width:100%;display:block;margin-top:9px;padding:13px 0 18px 17px;margin-left:-20px}.header-text{margin:14px 0 0 106px;z-index:3}.header-text p{font:24px/36px "Open Sans",sans-serif;color:#fff;font-weight:500}.header-text p span{color:#003d53;display:block}.header-action,.header-action-body,.header-action-name,.header-list li,.header-price,.header-price-new,.header-price-old,.hf-pole-input{display:inline-block;vertical-align:top}.header-list{margin-left:106px;margin-top:8px;background:rgba(67,106,119,.6);border-radius:5px;padding:20px 0 22px 7px;z-index:3}.header-list li{width:277px;margin-right:12px;background:url(../img/header-check.png) 0 3px no-repeat;padding-left:33px;font:18px/21px Roboto,sans-serif;color:#fff;margin-bottom:22px;height:30px}.header-list li span{color:#b1d825;font-weight:700}.header-list li:nth-child(2n){margin-right:0}.header-list li:last-child,.header-list li:nth-last-child(2){margin-bottom:0}.header-content{margin-top:15px;z-index:3}.header-action{width:394px;background:#b1d825;border-radius:5px 0 0;padding:21px 0 30px 16px}.header-action-name{width:101px;margin-top:8px}.header-action-name p{font:16px/24px "Open Sans",sans-serif;font-weight:700;color:#003d53}.header-action-body{width:267px}.header-price{width:285px;background:#ff0018;border-radius:0 5px 0 0;padding:26px 0 29px 15px}.header-price-new{width:144px}.header-price-new p{font:18px/18px "Open Sans",sans-serif;font-weight:700;color:#fff}.new_price_val{font:40px/40px "Open Sans",sans-serif;font-weight:700}.header-price-old{width:125px;margin-left:-15px;text-align:right;margin-top:12px}@media (max-width:480px){.header-price-old p{font-size:20px}}@media (max-width:430px){.header-price-old p{font-size:16px!important}}.header-price-old p{font:16px/16px "Open Sans",sans-serif;font-weight:500;color:#fff;text-decoration:line-through}small{color:#fff}.header-form{background:url(../img/header-form-bg.png) no-repeat;margin-top:-43px;z-index:3;padding-top:53px}.hf-pole-input{width:214px;margin-left:10px}.hf-pole-input input,.hf-pole-input select{width:100%;height:45px;border:0;background:#fff;font:16px/16px Roboto,sans-serif;color:#16626f;padding-left:10px}.hf-pole-input input{border-radius:23px}.hf-pole-input input::-webkit-input-placeholder{color:#16626f}.hf-pole-input input::-moz-placeholder{color:#16626f}.hf-pole-input input:-moz-placeholder{color:#16626f}.hf-pole-input input:-ms-input-placeholder{color:#16626f}.hf-pole-input select{border-radius:23px;-webkit-appearance:none;outline:0;-moz-appearance:none;text-indent:.01px;text-overflow:'';-ms-appearance:none;appearance:none!important}.hf-pole-input select::-ms-expand{display:none}.hf-pole-input:first-child{margin-left:8px}.hf-pole-btn{margin-top:14px;text-align:center}.hf-pole-btn button{width:284px;height:65px;border:0;border-radius:33px;font:30px/45px BebasNeueBold,sans-serif;color:#003d53;background:url(../img/btn-bg.png) no-repeat;background-size:cover}@media (max-width:1220px){.header-content,.header-form,.header-list,.header-text{position:relative;z-index:3}.header-body{width:990px}.header-pack{width:41.1%;margin:2px 0 0}.header-info{width:56.8%;margin-left:0}.header-name{margin-left:89px;padding-top:25px}.header-name h2{font:52px/56px "Open Sans",sans-serif;color:#fff;font-weight:500;text-transform:uppercase;width:85%;display:block;margin-left:14.7%}.header-name h2 span{background:#fff;font:38px/56px "Open Sans",sans-serif;color:#b1d825;font-weight:700;border-radius:0 35px 35px 0;width:100%;display:block;margin-top:9px;padding:13px 0 18px 27px;margin-left:-6px}.header-text{margin:14px 0 0 28.7%}.header-list li,.header-list li:nth-last-child(2){margin-bottom:22px}.header-text p{font:22px/34px "Open Sans",sans-serif;color:#fff;font-weight:500;text-transform:uppercase}.header-text p span{color:#003d53;display:block}.header-list{margin-left:28.7%;margin-top:8px;background:rgba(67,106,119,.6);border-radius:5px;padding:20px 0 22px 7px}.header-list li{width:100%;display:block;vertical-align:top;margin-right:0;background:url(../img/header-check.png) 0 3px no-repeat;padding-left:33px;font:18px/26px Roboto,sans-serif;color:#fff}.header-list li span{color:#b1d825;font-weight:700}.header-list li:nth-child(2n){margin-right:0}.header-list li:last-child{margin-bottom:0}.header-content{margin-top:15px}.header-action{width:58%;display:inline-block;vertical-align:top;background:#b1d825;border-radius:5px 0 0;padding:21px 0 30px 16px}.header-action-body,.header-action-name{width:100%;display:block;text-align:center}.header-action-name{vertical-align:top;margin-top:8px}.header-action-name p{font:16px/24px "Open Sans",sans-serif;font-weight:700;color:#003d53;text-transform:uppercase}.header-action-body{margin-top:20px}.header-price,.header-price-new,.header-price-old,.hf-pole-input{display:inline-block;vertical-align:top}.header-price{width:42%;background:#ff0018;border-radius:0 5px 0 0;padding:56px 0 59px 7px}.header-price-new{width:55%}.header-price-new p{font:18px/18px "Open Sans",sans-serif;font-weight:700;color:#fff}.new_price_val{font:40px/40px "Open Sans",sans-serif;font-weight:700}.header-price-old{width:49%;margin-left:-15px;text-align:right;margin-top:2px}.header-price-old p{font:17px/17px "Open Sans",sans-serif;color:#620d15;text-decoration:line-through;font-weight:700}.header-form{background:url(../img/header-form-bg.png) no-repeat;margin-top:-43px;padding-top:53px}.hf-pole-input{width:32%;margin-left:1%}.hf-pole-input input,.hf-pole-input select{width:100%;height:45px;border:0;background:#fff;padding-left:10px;font:16px/16px Roboto,sans-serif;color:#16626f}.hf-pole-input input{border-radius:23px}.hf-pole-input input::-webkit-input-placeholder{color:#16626f}.hf-pole-input input::-moz-placeholder{color:#16626f}.hf-pole-input input:-moz-placeholder{color:#16626f}.hf-pole-input input:-ms-input-placeholder{color:#16626f}.hf-pole-input select{border-radius:23px}.hf-pole-input:first-child{margin-left:8px}.hf-pole-btn{margin-top:14px;text-align:center}.hf-pole-btn button{width:284px;height:65px;border:0;border-radius:33px;font:30px/45px BebasNeueBold,sans-serif;color:#003d53;background:url(../img/btn-bg.png) no-repeat;background-size:cover}}.pay-block-text,.pay-block-video,.sbn-img,.sbn-name{display:inline-block;vertical-align:top}.composition-block-name,.composition-block__img1,.composition-block__img2,.composition-block__img3,.consist-btn,.contrast-block-name,.feed-nav,.feedback-name,.order-block-list li,.order-block-name,.pay-block-name,.sbn-img,.take-block-list li,.take-block-name,.take-round,.tbl-info{text-align:center}.pay-block-text,.strong-block-text{background:#cff0f6;border-radius:5px}.strong-block{width:1170px;margin:49px auto 0}.sbn-name{width:288px;margin-top:35px}.sbn-name h2{font:34px/38px "Open Sans",sans-serif;font-weight:700;color:#003d53}.sbn-name h2 span{font:65px/69px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.sbn-img{width:285px;margin-left:7px}.sbn-img p{font:16px/17px "Open Sans",sans-serif;font-weight:500;color:#003d53;width:167px;margin:0 auto}.strong-block-text{margin-top:17px;padding:10px 0 4px 13px}.strong-block-text img{float:right;margin-top:-195px}.strong-block-text p{font:18px/24px "Open Sans",sans-serif;font-weight:500;color:#003d53;padding-bottom:11px;margin-bottom:0}.strong-block-text p span{font-weight:900}@media (max-width:1220px){.strong-block{width:990px;margin:49px auto 0}.sbn-img{width:186px}}.pay-block{width:1170px;margin:8px auto 0}.pay-block-name{margin:0 auto;padding:0 2rem}.pay-block-name h2{font:24px/32px "Open Sans",sans-serif;font-weight:700;color:#003d53}.pay-block-name h2 span{font:60px/76px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.pay-block-info{margin-top:30px}.pay-block-video{width:481px}.pay-block-video iframe{border-radius:5px}.pay-block-text{width:675px;margin-left:10px;padding:9px 19px 18px 18px}.pay-block-text p{font:16px/26px "Open Sans",sans-serif;font-weight:500;color:#003d53;padding-bottom:14px}.pay-block-text p span{font-weight:900}.pay-block-text p:last-child{padding-bottom:0}.pay-block__img1{padding:9px 5px 10px 0}.pay-block__img2{padding:9px 0 10px 5px}.pay-block__img1 img,.pay-block__img2 img{width:100%}.pay-block__item1{float:left}.pay-block__item2{float:right}@media (max-width:480px){.pay-block__item1,.pay-block__item2{float:none;margin:0 auto;width:100%!important}}.pay-block__item1,.pay-block__item2{width:50%}.pay-block__text1,.pay-block__text2{padding-left:10px;padding-bottom:12px}.pay-block__text1 span,.pay-block__text2 span{display:block;color:#003d53;font:600 16px/26px "Open Sans",sans-serif;padding-right:1px}.pay-block__text1 p,.pay-block__text2 p{text-transform:uppercase;padding-bottom:0;font-weight:600;color:#003d53}.composition-block{background:url(../img/composition-bg.png) center top no-repeat;padding-top:42px;margin-top:20px}.composition-block h2{color:#fff;font-size:48px;font-weight:700;font-family:"Open Sans",sans-serif;text-shadow:2px 2px 8px #4c9ed9}@media (max-width:805px){.take-block-list{display:none}}@media (min-width:804px){.owl__hidden{display:none!important}}.composition-block-name{margin:0 auto;padding-bottom:42px}.composition-block__img1>img,.composition-block__img2>img,.composition-block__img3>img{width:100%}@media (max-width:767px){.composition-block__img1>img,.composition-block__img2>img,.composition-block__img3>img{width:60%!important}}@media (max-width:480px){.composition-block__img1>img,.composition-block__img2>img,.composition-block__img3>img{width:100%!important}}@media (max-width:1220px){.pay-block{width:990px}.pay-block-video{width:41.1%}.pay-block-text{width:57%;margin-left:.9%}}.contrast-block{background:url(../img/contrast-bg.png) center top no-repeat;margin-top:7px;padding-top:42px}.contrast-block-body{width:1170px;margin:0 auto}.contrast-block-name{width:777px;margin:0 auto}.contrast-block-name h2{font:43px/60px "Open Sans",sans-serif;font-weight:700;color:#003d53}.contrast-block-name h2 span{font:64px/60px "Open Sans",sans-serif;font-weight:700;color:#fff}.contrast-block-info{margin-top:27px}.contrast-block-text{width:875px;display:inline-block;vertical-align:top}.contrast-block-text p{background:#fff;padding:18px 120px 17px 76px;border-radius:100px;margin-bottom:10px;font:20px/28px "Open Sans",sans-serif;font-weight:500;color:#003d53}.contrast-block-text p span{font-weight:900}.contrast-block-text p:last-child{margin-bottom:0}.contrast-block-img{width:423px;display:inline-block;vertical-align:top;margin-left:-130px;margin-top:80px}.contrast-btn,.feed-body{display:none}@media (min-width:805px) and (max-width:1005px){.feed-text p span{font-size:16px!important}.feed-text p{font-size:13px!important;line-height:21px!important}.feed-text{height:296px!important}}@media (max-width:1220px){.contrast-block{background:url(../img/contrast-bg.png) center no-repeat;background-size:cover;margin-top:7px;padding-top:42px;padding-bottom:70px}.contrast-block-body{width:990px;margin:0 auto}.contrast-block-text{width:74.8%}.contrast-block-text p{background:#fff;padding:18px 70px 17px 50px}.contrast-block-img{width:35.9%}.contrast-block-img img{width:100%}}.feedback{width:1170px;margin:7px auto 0}.feedback-name{width:776px;margin:0 auto}.feedback-name h2{font:34px/48px "Open Sans",sans-serif;font-weight:700;color:#003d53}.feedback-name h2 span{font:48px/48px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.feedback-slider{margin-top:27px}.feed-content{height:500px}.feed-img,.feed-text{float:left;height:420px}.feed-body{width:100%;position:absolute;top:0;left:0}.feed-body.active,.feed-img img{display:block}.feed-img{width:49%;vertical-align:top}.feed-img img{width:100%}.feed-nav li,.owl-dot{display:inline-block;vertical-align:top;cursor:pointer}.feed-text{width:49%;vertical-align:top;margin-left:2%;background:#cff0f6;padding:6px 34px 22px 31px}.feed-text p{font:19px/27px "Open Sans",sans-serif;font-weight:500;color:#003d53;padding-bottom:27px}.feed-text p span{font:21px/57px "Open Sans",sans-serif;font-weight:700;color:#003d53}.feed-text p:last-child{padding-bottom:0}.feed-text p:first-child{padding-bottom:16px}.owl-dot{width:29px;height:29px;border-radius:15px;border:2px solid #34bfd1;background:#fff;margin-right:7px}.owl-dot.active span{background:#34bfd1;width:17px;height:17px;border-radius:10px;margin:4px 0 0 4px}.feed-nav li{width:29px;height:29px;border-radius:15px;border:2px solid #34bfd1;background:#fff;margin-right:7px}.feed-nav li:last-child{margin-right:0}.feed-nav li.nav-active p{background:#34bfd1;width:17px;height:17px;border-radius:10px;margin:4px 0 0 4px}.feed-nav-mobile{display:none}.cbl-img,.cbl-name,.consist-block-list li{display:inline-block;vertical-align:top}@media (max-width:1220px){.feedback{width:990px}.feed-content{position:relative;height:445px}.feed-img{width:49%;height:390px}.feed-img-before{width:60%}.feed-img-before p{font:14px/23px "Open Sans",sans-serif;font-weight:700;width:80px}.feed-img-before img{width:100%}.feed-img-after{width:60%;margin-left:-20%}.feed-img-after p{font:14px/23px "Open Sans",sans-serif;font-weight:700;width:80px}.feed-img-after img{width:100%}.feed-text{width:49%;height:366px}.feed-text p:first-child{padding-bottom:0}.feed-text p{font:15px/27px "Open Sans",sans-serif}}.consist-block{background:url(../img/consist-bg.png) no-repeat;margin-top:22px;padding:75px 0 91px}.consist-block-body{width:1170px;margin:0 auto;position:relative}.consist-block-list li{width:481px;margin-right:208px;margin-bottom:68px}.consist-block-list li:nth-child(even){margin-right:0}.consist-block-list li:nth-child(even) .cbl-name p{font-size:20px}.consist-block-list li:nth-child(even) .cbl-name p span{font-size:24px}.consist-block-list li:last-child,.consist-block-list li:nth-last-child{margin-bottom:0}.consist-block-list li:first-child .cbl-img{margin-top:-39px}.consist-block-list li:nth-child(2) .cbl-img{margin:-10px 0 0 8px}.consist-block-list li:nth-child(2) .cbl-text,.consist-block-list li:nth-child(4) .cbl-text{margin-left:37px}.consist-block-list li:nth-child(3) .cbl-img{margin-top:-36px}.consist-block-list li:nth-child(4) .cbl-img{margin-top:-11px}.cbl-info{background:#fff;height:99px;border-radius:50px}.cbl-img{width:138px}.cbl-name{width:330px;margin-top:11px}.cbl-name p{font:24px/36px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.cbl-name p span{color:#003d53;display:block}.cbl-text{margin:12px 0 0 3px}.cbl-text p{font:18px/24px "Open Sans",sans-serif;font-weight:500;color:#003d53}.consist-block-name{position:absolute;left:0;right:0;bottom:-95px;width:383px;margin:0 auto}.consist-block-round{background:#fff;display:table;width:209px;height:209px;margin:0 auto;border-radius:110px;text-align:center}.consist-block-round h2{display:table-cell;vertical-align:middle;font:34px/48px "Open Sans",sans-serif;font-weight:700;color:#003d53}.consist-block-round h2 span{font:48px/48px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.consist-block-pack{margin-top:-57px}.consist-btn{display:none;margin-top:43px}.consist-btn button{width:284px;height:65px;border:0;background:url(../img/btn-bg.png) no-repeat;background-size:cover;border-radius:33px;font:30px/45px BebasNeueBold,sans-serif;color:#003d53}@media (max-width:1220px){.cbl-img,.cbl-name{display:inline-block;vertical-align:top}.consist-block{background:url(../img/consist-bg.png) center no-repeat;background-size:cover}.consist-block-body{width:990px}.consist-block-list li{width:41.1%;margin-right:16.9%}.consist-block-list li:nth-child(even){margin-right:0}.consist-block-list li:nth-child(even) .cbl-name p{font-size:17px}.consist-block-list li:nth-child(even) .cbl-name p span{font-size:19px}.cbl-img{width:28.4%}.cbl-img img{width:100%}.cbl-name{width:65.8%;margin-top:11px}.cbl-name p{font:20px/32px "Open Sans",sans-serif;font-weight:700;color:#b1d825;text-transform:uppercase}.cbl-name p span{color:#003d53;display:block}.consist-block-name{position:absolute;left:0;right:0;bottom:-45px;width:32.7%;margin:0 auto}.consist-block-pack img{width:100%}}.take-block{width:1170px;margin:35px auto 0}.take-block-name h2{font:34px/45px "Open Sans",sans-serif;font-weight:700;color:#003d53}.take-block-name h2 span{font-size:48px;color:#b1d825}.take-block-list{margin-top:50px}.take-block-list li{width:383px;display:inline-block;vertical-align:top;margin-right:10px;position:relative;z-index:3}.take-block-list li:last-child{margin-right:0}.take-block-list li:after{content:' ';position:absolute;top:127px;right:-37px;background:url(../img/take-arr.png) center right no-repeat;width:80px;height:31px;z-index:1}.take-block-list li:last-child:after{display:none}.tbl-info{margin-top:17px}.tbl-info h3{font:20px/27px "Open Sans",sans-serif;font-weight:700;color:#003d53}.tbl-info p{padding-top:12px;font:18px/27px "Open Sans",sans-serif;font-weight:500;color:#003d53}.take-block-nav{display:none;width:100%}.take-next,.take-prev{width:15px;height:27px;display:table-cell;vertical-align:middle;cursor:pointer}.take-prev{background:url(../img/prev.png) center no-repeat}.take-next{background:url(../img/next.png) center no-repeat}.take-round{display:table-cell;vertical-align:middle}.take-round li{display:inline-block;vertical-align:top;width:29px;height:29px;border-radius:15px;border:2px solid #34bfd1;background:#fff;margin-right:7px;cursor:pointer}.take-round li:last-child{margin-right:0}.take-round li.nav-active p{background:#34bfd1;width:17px;height:17px;border-radius:10px;margin:4px 0 0 4px}@media (max-width:1220px){.take-block{width:990px;margin:35px auto 0}.take-block-list{margin-top:50px}.take-block-list li{width:32.7%;margin-right:.9%}.take-block-list li:after{content:' ';position:absolute;top:97px;right:-37px}.take-block-list li:last-child:after{display:none}.tbl-img img{width:60%}.tbl-info{margin-top:17px;text-align:center}.tbl-info h3{font:17px/24px "Open Sans",sans-serif;font-weight:700;color:#003d53;text-transform:uppercase}.tbl-info p{padding-top:12px;font:16px/24px "Open Sans",sans-serif;font-weight:500;color:#003d53}}.order-block{width:1170px;margin:71px auto 0}.order-block-name h2{font:34px/56px "Open Sans",sans-serif;font-weight:700;color:#003d53}.order-block-name h2 span{font-size:48px;color:#b1d825;display:block}.order-block-list{margin-top:38px}.order-block-list li{width:185px;display:inline-block;vertical-align:top;margin-right:61px;position:relative}.order-block-list li:last-child{margin-right:0}.order-block-list li:after{content:'';background:url(../img/order-arr.png) center no-repeat;width:54px;height:19px;position:absolute;top:84px;right:-65px}.order-block-list li:last-child:after{display:none}.obl-info{margin-top:-12px}.obl-info h3{font:16px/45px "Open Sans",sans-serif;font-weight:900;color:#b1d825}.obl-info p{font:16px/27px "Open Sans",sans-serif;font-weight:500;color:#003d53}@media (max-width:1220px){.order-block{width:990px;margin:71px auto 0}.order-block-list{margin-top:38px}.order-block-list li{width:16.9%;display:inline-block;vertical-align:top;text-align:center;margin-right:3.8%;position:relative}.order-block-list li:last-child{margin-right:0}.order-block-list li:after{content:'';background:url(../img/order-arr.png) center no-repeat;background-size:contain;width:34px;height:19px;position:absolute;top:84px;right:-35px}.order-block-list li:last-child:after{display:none}.obl-img img{width:100%}}.footer-copy,.footer-pay,.footer-pay ul li{display:inline-block;vertical-align:top}footer{background:url(../img/info-bg.png) center top no-repeat;margin-top:48px;padding-bottom:21px}.footer-info{width:1170px;margin:14px auto 0}.footer-pay{width:480px}.footer-pay p{font:18px/18px "Open Sans",sans-serif;font-weight:700;color:#003d53}.footer-pay ul{margin-top:23px}.footer-pay ul li{margin:0 7px 0 2px}.footer-copy{width:680px;margin-left:10px;text-align:right;margin-top:27px}.footer-copy p{font:15px/24px Roboto,sans-serif;color:#003d53}.footer-copy p a{font:14px/24px Roboto,sans-serif;color:#b1d825;text-transform:none;text-decoration:underline}.footer-copy p a:hover{text-decoration:none}@media (max-width:1220px){.footer-info{width:990px}.footer-pay{width:42%}.footer-pay ul li{margin:0 3px 0 2px}.footer-copy{width:58%;margin-left:0}}@media (max-width:1005px){.header-form,.header-list,.header-text{z-index:3;position:relative}.header-body{width:800px}.header-girl,.header-pack{display:none}.header-info{width:100%;margin:0;display:block}.header-name{margin-left:0;text-align:center}.header-name h2{font-weight:500;width:100%;display:block;margin:0 auto}.header-name h2 span{border-radius:35px;width:100%;margin-left:0}.header-pack-mobile{display:block;float:left;width:30%;margin-top:20px}.header-pack-mobile img{width:100%}.header-pack-sale{position:absolute;top:260px;left:9px;background:url(../img/header-sale.png) no-repeat;background-size:contain;width:70px;text-align:center;padding:15px 0 14px}.header-pack-sale p{font:12px/12px Roboto,sans-serif;color:#fff}.header-pack-sale p span{font:27px/27px Roboto,sans-serif;font-weight:800}.header-text{width:90%;margin:14px auto 0;text-align:center}.header-list li,.header-list li:nth-last-child(2){margin-bottom:22px}.header-text p{font:22px/34px "Open Sans",sans-serif;color:#fff;font-weight:500;text-transform:uppercase}.header-text p span{color:#003d53;display:block}.header-list{margin-left:28.7%;margin-top:20px;background:rgba(67,106,119,.6);border-radius:5px;padding:20px 0 22px 30px}.header-list li{width:100%;display:block;vertical-align:top;margin-right:0;background:url(../img/header-check.png) 0 3px no-repeat;padding-left:33px;font:18px/26px Roboto,sans-serif;color:#fff}.header-list li span{color:#b1d825;font-weight:700}.header-list li:nth-child(2n){margin-right:0}.header-list li:last-child{margin-bottom:0}.header-price{padding:56px 27px 59px}.header-price-old{width:46%}.header-form{background:url(../img/header-form-bg.png) no-repeat;background-size:cover;margin-top:-47px;padding-top:53px;height:145px}.strong-block{width:800px}.sbn-img{width:249px}.strong-block-text{margin-top:75px}.strong-block-text img{width:180px;margin-top:-69px}.contrast-block-body,.pay-block{width:800px}.contrast-block-img{width:35.9%;display:inline-block;vertical-align:top;margin-left:-104px;margin-top:80px}.consist-block-body,.feedback{width:800px}.feed-text p{font:14px/27px "Open Sans",sans-serif;font-weight:500}.feed-text p span{font:21px/30px "Open Sans",sans-serif;font-weight:700}.consist-block-name{position:relative;left:0;right:0;bottom:0;width:100%;margin:0 auto}.consist-block-round{background:#fff;display:block;width:44.6%;height:109px;margin:0 0 0 56.4%;border-radius:60px 0 0 60px;text-align:left}.consist-block-round h2{display:block;font:30px/36px "Open Sans",sans-serif;font-weight:700;color:#003d53;padding:22px 0 0 15px;width:132px}.consist-block-round h2 span{font:36px/36px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.consist-block-pack{margin-top:-120px;width:222px;float:right}.consist-block-pack img{width:100%}.consist-block-list{margin:140px auto 0;width:90.9%}.consist-block-list li{width:48%;display:inline-block;vertical-align:top;margin-right:4%;margin-bottom:33px}.consist-block-list li:nth-child(even){margin-right:0}.consist-block-list li:nth-child(even) .cbl-name p,.consist-block-list li:nth-child(even) .cbl-name p span{font-size:14px}.consist-block-list li:last-child,.consist-block-list li:nth-last-child(2){margin-bottom:0}.consist-block-list li:first-child .cbl-img{margin-top:-39px}.consist-block-list li:nth-child(2) .cbl-img{margin:-10px 0 0 8px}.consist-block-list li:nth-child(2) .cbl-text,.consist-block-list li:nth-child(4) .cbl-text{margin-left:0}.consist-block-list li:nth-child(3) .cbl-img{margin-top:-36px}.consist-block-list li:nth-child(4) .cbl-img{margin-top:-11px}.cbl-info{background:#fff;border-radius:50px;height:124px}.cbl-name{width:100%;display:block;vertical-align:top;margin-top:11px;text-align:center}.cbl-name p{font:18px/24px "Open Sans",sans-serif;font-weight:700;color:#b1d825;text-transform:uppercase}.cbl-name p span{color:#003d53;display:block}.cbl-text{text-align:center;margin:12px 0 0 3px}.cbl-text p{font:14px/20px "Open Sans",sans-serif;font-weight:500;color:#003d53}.order-block,.take-block{width:800px}.footer-info{width:800px;margin-top:42px}.footer-copy,.footer-pay{width:100%;display:block;text-align:center}}@media (max-width:805px){.header-head,.header-text{z-index:3;position:relative}.cbl-name p,.footer-copy p,.footer-pay p,.header-text p,.obl-info h3,.pay-block-name h2{text-transform:uppercase}header{background:0 0}.header-body{width:100%}.header-girl,.header-pack{display:none}.header-info{width:100%;display:block;margin-left:0}.header-name,.header-text{width:90.9%;text-align:center}.header-head{background:url(../img/head-mobile.png) center bottom no-repeat;background-size:cover;padding-bottom:37px}.header-name{margin:0 auto;padding-top:27px}.header-name h2{font:36px/36px "Open Sans",sans-serif;font-weight:500;margin-left:0}.header-name h2 span{background:#fff;font:28px/36px "Open Sans",sans-serif;color:#b1d825;font-weight:700;border-radius:35px;margin-top:9px;padding:10px 0;margin-left:0}.header-text{margin:14px auto 0}.header-text p{font:17px/24px "Open Sans",sans-serif;color:#fff;font-weight:500}.header-text p span{color:#003d53;display:inline;font:20px/36px "Open Sans",sans-serif;font-weight:700}.header-pack-mobile{display:block;position:relative;z-index:1;background:url(../img/head-girl-mobile.png) center top no-repeat;background-size:cover;padding:159px 0 0;margin-top:-60px;float:none;width:100%}.header-pack-body{width:60%;margin:0;text-align:left}.header-pack-body img{width:100%}.header-pack-sale{position:absolute;top:140px;left:19px;background:url(../img/header-sale.png) no-repeat;background-size:contain;width:75px;text-align:center;padding:20px 0}.feed-content,.header-list{position:relative}.header-pack-sale p{font:10px/10px Roboto,sans-serif;color:#fff}.header-pack-sale p span{font:22px/22px Roboto,sans-serif;font-weight:800}.header-list{margin:0;background:rgba(71,115,131,.9);border-radius:0;padding:19px 0 18px 9px;z-index:3}.header-list ul{width:90.9%;margin:0 auto}.header-list ul li,.header-list ul li:nth-last-child(2){margin-bottom:22px}.header-list ul li{width:45%;display:inline-block;vertical-align:top;margin-right:0;background:url(../img/header-check.png) 0 3px no-repeat;padding-left:33px;font:18px/21px Roboto,sans-serif;color:#fff}.header-list ul li span{color:#b1d825;font-weight:700}.header-list ul li:nth-child(2n){margin-right:0}.header-list ul li:last-child{margin-bottom:0}.header-content{margin-top:0}.header-action{width:100%;display:block;border-radius:0;padding:14px 0 18px}.header-action-name{width:auto;display:block;margin-top:0;text-align:center}.header-action-name p{font:18px/24px "Open Sans",sans-serif;font-weight:700}.header-action-body{width:90.9%;display:block;margin:22px auto 0;text-align:center}.header-price{width:100%;display:block;border-radius:0;padding:16px 23.7% 15px;text-align:center}.header-price-old p{font:23px/23px "Open Sans",sans-serif;font-weight:700}.header-form{background:#003d53;margin-top:0;padding-top:18px;height:260px}.hf-pole-input,.hf-pole-input:first-child{margin:0 auto 22px}.hf-pole-input{width:90.9%;display:block}.hf-pole-input input,.hf-pole-input select{border:0}.strong-block{width:100%;margin:30px auto 0}.sbn-name{width:90.9%;display:block;margin:0 auto 21px}.sbn-name h2{font:25px/31px "Open Sans",sans-serif;font-weight:700}.sbn-name h2 span{font:41px/46px "Open Sans",sans-serif;font-weight:700}.sbn-img{width:45.3%;display:inline-block;vertical-align:top;margin-left:4.7%;text-align:center}.pay-block,.sbn-img img,.sbn-img p{width:100%}.sbn-img p{font:14px/18px "Open Sans",sans-serif;font-weight:500}.sbn-img:last-child{margin:0 4.7% 0 0}.strong-block-text{margin-top:233px;background:#cff0f6;padding:0 4.7% 4px;border-radius:5px;text-align:center;position:relative}.strong-block-text img{float:none;margin-top:-265px}.strong-block-text p{font:14px/24px "Open Sans",sans-serif;font-weight:500;padding-bottom:11px;text-align:left;margin-top:20px}.pay-block{margin:20px auto 0}.pay-block-name{width:90.9%}.pay-block-name h2{font:24px/36px "Open Sans",sans-serif;font-weight:700;color:#003d53;letter-spacing:-.3px}.pay-block-name h2 span{font:48px/76px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.pay-block-video{width:100%;display:block}.pay-block-text{width:100%;margin-left:0;margin-top:-3px;background:#cff0f6;border-radius:0;padding:15px 4.7% 13px}.pay-block-text p{font:14px/24px "Open Sans",sans-serif;font-weight:500;color:#003d53;padding-bottom:14px}.contrast-block{background:url(../img/contrast-bg-mobile.png) center top no-repeat;background-size:cover;margin-top:0;padding:42px 0 54px}.contrast-block-body{width:100%}.contrast-block-name{text-align:center;width:90.9%;margin:0 auto}.contrast-block-name h2{font:26px/36px "Open Sans",sans-serif;font-weight:700}.contrast-block-name h2 span{font:42px/48px "Open Sans",sans-serif;font-weight:700}.contrast-block-info{margin-top:12px}.contrast-block-text{width:100%;display:block;vertical-align:top}.contrast-block-text p{background:#fff;padding:18px 4.7% 22px;border-radius:20px;margin-bottom:12px;font:14px/24px "Open Sans",sans-serif;font-weight:500}.contrast-block-text p span{font-weight:900}.contrast-block-text p:last-child{margin-bottom:0}.contrast-block-img{display:none}.contrast-btn{display:block;margin-top:22px;text-align:center;padding:0 4.7%}.contrast-btn button{width:290px;height:66px;border:0;background:url(../img/btn-bg.png) no-repeat;background-size:cover;border-radius:33px;font:30px/45px BebasNeueBold,sans-serif;color:#003d53}.feed-body,.feed-img,.feedback,.feedback-name{width:100%}.feedback{margin:23px auto 0}.feedback-name h2{font:24px/30px "Open Sans",sans-serif;font-weight:700}.feedback-name h2 span{font:33px/30px "Open Sans",sans-serif;font-weight:700}.feed-body{position:absolute;top:0;left:0;display:none}.feed-img,.feed-text{display:block;height:initial}.feed-img{margin:9px auto 0;text-align:center}.feed-img-after p,.feed-img-before p{padding-left:4px;text-align:left;color:#003d53}.feed-img img{width:400px;margin:0 auto}.feed-img-before{width:169px}.feed-img-before img{width:100%}.feed-img-before p{font:11px/19px "Open Sans",sans-serif;font-weight:700;padding-top:5px}.feed-img-after{width:170px;margin-left:-78px;margin-top:69px}.feed-img-after img,.feed-text{width:100%}.feed-img-after p{font:11px/19px "Open Sans",sans-serif;font-weight:700;padding-top:3px}.feed-text{margin-left:0;background:#cff0f6;padding:14px 4.7% 15px}.feed-content{height:600px}.feed-text p{font:15px/24px "Open Sans",sans-serif;font-weight:500;padding-bottom:24px}.feed-text p span{font:24px/30px "Open Sans",sans-serif;font-weight:700}.feed-text p:last-child{padding-bottom:0}.feed-nav{display:none}.feed-nav-mobile{display:table;width:90.9%;margin:15px auto 0}.feed-next,.feed-prev{width:15px;height:27px;display:table-cell;vertical-align:middle;cursor:pointer}.feed-prev{background:url(../img/prev.png) center no-repeat}.feed-next{background:url(../img/next.png) center no-repeat}.feed-round{display:table-cell;vertical-align:middle;text-align:center}.feed-round li{display:inline-block;vertical-align:top;width:29px;height:29px;border-radius:15px;border:2px solid #34bfd1;background:#fff;margin-right:7px;cursor:pointer}.feed-round li:last-child{margin-right:0}.feed-round li.nav-active p{background:#34bfd1;width:17px;height:17px;border-radius:10px;margin:4px 0 0 4px}.consist-block{background:url(../img/consist-bg-mobile.png) center top no-repeat;background-size:cover;margin-top:22px;padding:24px 0 19px}.consist-block-body,.consist-block-name{width:100%;margin:0 auto;position:relative}.consist-block-name{left:0;right:0;bottom:0}.consist-block-round{background:#fff;display:block;width:42.6%;height:109px;margin:0 0 0 47.4%;border-radius:60px 0 0 60px;text-align:left}.cbl-name,.cbl-text,.order-block-list,.order-block-list li,.order-block-name,.take-block-name{text-align:center}.consist-block-round h2{display:block;font:30px/36px "Open Sans",sans-serif;font-weight:700;color:#003d53;padding:22px 0 0 15px;width:132px}.consist-block-round h2 span{font:36px/36px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.consist-block-pack{margin-top:-120px;width:222px;float:right}.consist-block-pack img{width:100%}.consist-block-list{margin:140px auto 0;width:90.9%}.consist-block-list li{width:48%;display:inline-block;vertical-align:top;margin-right:4%;margin-bottom:33px}.cbl-name,.consist-btn{display:block}.consist-block-list li:nth-child(even){margin-right:0}.consist-block-list li:nth-child(even) .cbl-name p,.consist-block-list li:nth-child(even) .cbl-name p span{font-size:14px}.consist-block-list li:last-child,.consist-block-list li:nth-last-child(2){margin-bottom:0}.consist-block-list li:first-child .cbl-img{margin-top:-39px}.consist-block-list li:nth-child(2) .cbl-img{margin:-10px 0 0 8px}.consist-block-list li:nth-child(2) .cbl-text,.consist-block-list li:nth-child(4) .cbl-text{margin-left:0}.consist-block-list li:nth-child(3) .cbl-img{margin-top:-36px}.consist-block-list li:nth-child(4) .cbl-img{margin-top:-11px}.cbl-info{background:#fff;border-radius:50px;height:110px}.cbl-name{width:100%;vertical-align:top;margin-top:11px}.cbl-name p{font:18px/24px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.cbl-name p span{color:#003d53;display:block}.cbl-text{margin:12px 0 0 3px}.cbl-text p{font:14px/20px "Open Sans",sans-serif;font-weight:500;color:#003d53}.take-block{width:90.9%;margin:30px auto 0}.take-block-name h2 span{font-size:36px;color:#b1d825}.take-block-list{margin-top:46px}.take-block-list ul{position:relative;height:420px}.take-block-list ul li{width:100%;display:none;vertical-align:top;margin-right:0;text-align:center;position:absolute;top:0;left:0;z-index:3}.take-block-list ul li:last-child{margin-right:0}.take-block-list ul li:after{display:none}.take-block-list ul li.active{display:block}.tbl-img{width:228px;margin:0 auto}.tbl-img img{width:100%}.take-block-nav{display:table}.order-block{width:100%;margin:33px auto 0}.order-block-name h2{font:24px/30px "Open Sans",sans-serif;font-weight:700;color:#003d53}.order-block-name h2 span{font-size:30px;color:#b1d825;display:block}.order-block-list{margin-top:29px}.order-block-list li{width:50%;display:inline-block;vertical-align:top;margin-right:0;position:relative}.order-block-list li:last-child{margin-right:0}.order-block-list li:after{content:'';background:url(../img/order-arr.png) center no-repeat;background-size:contain;width:42px;height:14px;position:absolute;top:145px;right:-10px}.order-block-list li:last-child:after,.order-block-list li:nth-child(even):after{display:none}.obl-img{width:100%}.obl-img img{width:60%}.obl-info{margin-top:-12px}.obl-info h3{font:14px/35px "Open Sans",sans-serif;font-weight:900;color:#b1d825}.obl-info p{font:16px/21px "Open Sans",sans-serif;font-weight:500;color:#003d53}footer{background:0 0}.footer-info{width:90.9%;margin:53px auto 0}.footer-copy,.footer-pay{width:100%;vertical-align:top;text-align:center}.footer-pay{display:block}.footer-pay p{font:19x/19px "Open Sans",sans-serif;font-weight:700;color:#003d53}.footer-pay ul{margin-top:20px}.footer-pay ul li{display:inline-block;vertical-align:top;margin:0 7px 0 2px}.footer-copy{display:block;margin-left:0;margin-top:24px}.footer-copy p{font:14px/24px Roboto,sans-serif;color:#003d53;padding-bottom:18px}.footer-copy p a{font:16px/24px Roboto,sans-serif;color:#b1d825;text-transform:none;text-decoration:underline}.footer-copy p a:hover{text-decoration:none}.footer-copy p:last-child{padding-bottom:0}}@media (max-width:605px){.header-head,.header-text{z-index:3;position:relative}.cbl-name p,.footer-copy p,.footer-pay p,.header-text p,.obl-info h3,.pay-block-name h2{text-transform:uppercase}header{background:0 0}.header-body{width:100%}.header-girl,.header-pack{display:none}.header-info{width:100%;display:block;margin-left:0}.header-name,.header-pack-body,.header-text{width:90.9%;text-align:center}.header-head{background:url(../img/head-mobile.png) center bottom no-repeat;background-size:cover;padding-bottom:37px}.header-name{margin:0 auto;padding-top:27px}.header-name h2{font:36px/36px "Open Sans",sans-serif;font-weight:500;margin-left:0}.header-name h2 span{background:#fff;font:28px/36px "Open Sans",sans-serif;color:#b1d825;font-weight:700;border-radius:35px;margin-top:9px;padding:10px 0;margin-left:0}.header-text{margin:14px auto 0}.header-text p{font:17px/24px "Open Sans",sans-serif;color:#fff;font-weight:500}.header-text p span{color:#003d53;display:inline;font:20px/36px "Open Sans",sans-serif;font-weight:700}.header-pack-mobile{display:block;position:relative;z-index:1;background:url(../img/head-girl-mobile.png) center top no-repeat;background-size:contain;padding:159px 0 0;margin-top:-26px}.header-pack-body{margin:0 auto}.header-pack-body img{width:100%}.header-pack-sale{position:absolute;top:140px;left:19px;background:url(../img/header-sale.png) no-repeat;background-size:contain;width:75px;text-align:center;padding:20px 0}.header-pack-sale p{font:10px/10px Roboto,sans-serif;color:#fff}.header-pack-sale p span{font:22px/22px Roboto,sans-serif;font-weight:800}.header-list{margin:5px 0 0;background:rgba(71,115,131,.9);border-radius:0;padding:19px 0 18px 9px;position:relative;z-index:3}.header-list ul{width:90.9%;margin:0 auto}.header-list ul li,.header-list ul li:nth-last-child(2){margin-bottom:22px}.header-list ul li{width:277px;display:inline-block;vertical-align:top;margin-right:0;background:url(../img/header-check.png) 0 3px no-repeat;padding-left:33px;font:18px/21px Roboto,sans-serif;color:#fff}.header-list ul li span{color:#b1d825;font-weight:700}.header-list ul li:nth-child(2n){margin-right:0}.header-list ul li:last-child{margin-bottom:0}.header-price-old p{font-size:24px;line-height:24px}.header-content{margin-top:0}.header-action{width:100%;display:block;border-radius:0;padding:14px 0 18px}.header-action-name{width:auto;display:block;margin-top:0;text-align:center}.header-action-name p{font:18px/24px "Open Sans",sans-serif;font-weight:700}.header-action-body{width:90.9%;display:block;margin:22px auto 0;text-align:center}.header-price{width:100%;display:block;border-radius:0;padding:16px 4.7% 15px}.header-form{background:#003d53;margin-top:0;padding-top:18px;height:260px}.hf-pole-input,.hf-pole-input:first-child{margin:0 auto 22px}.hf-pole-input{width:90.9%;display:block}.hf-pole-input input,.hf-pole-input select{border:0}.strong-block{width:100%;margin:30px auto 0}.sbn-name{width:90.9%;display:block;margin:0 auto 21px}.sbn-img{width:45.3%;display:inline-block;vertical-align:top;margin-left:4.7%;text-align:center}.pay-block,.sbn-img img,.sbn-img p{width:100%}.sbn-img p{font:14px/18px "Open Sans",sans-serif;font-weight:500}.sbn-img:last-child{margin:0 4.7% 0 0}.strong-block-text{margin-top:233px;background:#cff0f6;padding:0 4.7% 4px;border-radius:5px;text-align:center}.strong-block-text img{float:none}.strong-block-text p{font:14px/24px "Open Sans",sans-serif;font-weight:500;padding-bottom:11px;text-align:left;margin-top:20px}.pay-block{margin:20px auto 0}.pay-block-name{width:90.9%}.pay-block-name h2{font:24px/36px "Open Sans",sans-serif;font-weight:700;color:#003d53;letter-spacing:-.3px}.pay-block-name h2 span{font:24px/76px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.pay-block-video{width:100%;display:block}.pay-block-text{width:100%;margin-left:0;margin-top:-3px;background:#cff0f6;border-radius:0;padding:15px 4.7% 13px}.pay-block-text p{font:14px/24px "Open Sans",sans-serif;font-weight:500;color:#003d53;padding-bottom:14px}.contrast-block{background:url(../img/contrast-bg-mobile.png) center top no-repeat;background-size:cover;margin-top:0;padding:42px 0 54px}.contrast-block-body{width:100%}.contrast-block-name{text-align:center;width:90.9%;margin:0 auto}.contrast-block-name h2{font:26px/36px "Open Sans",sans-serif;font-weight:700}.contrast-block-name h2 span{font:42px/48px "Open Sans",sans-serif;font-weight:700}.contrast-block-info{margin-top:12px}.contrast-block-text{width:100%;display:block;vertical-align:top}.contrast-block-text p{background:#fff;padding:18px 4.7% 22px;border-radius:20px;margin-bottom:12px;font:14px/24px "Open Sans",sans-serif;font-weight:500}.contrast-block-text p span{font-weight:900}.contrast-block-text p:last-child{margin-bottom:0}.contrast-block-img{display:none}.contrast-btn{display:block;margin-top:22px;text-align:center;padding:0 4.7%}.contrast-btn button{width:290px;height:66px;border:0;background:url(../img/btn-bg.png) no-repeat;background-size:cover;border-radius:33px;font:30px/45px BebasNeueBold,sans-serif;color:#003d53}.feed-body,.feedback,.feedback-name{width:100%}.feedback{margin:23px auto 0}.feedback-name h2{font:24px/30px "Open Sans",sans-serif;font-weight:700}.feedback-name h2 span{font:33px/30px "Open Sans",sans-serif;font-weight:700}.feed-content{position:relative;height:620px}.feed-body{position:absolute;top:0;left:0;display:none}.feed-img{display:block;margin:9px auto 0;text-align:center}.feed-img-after p,.feed-img-before p{padding-left:4px;text-align:left;color:#003d53}.feed-img-before{width:169px}.feed-img-before img{width:100%}.feed-img-before p{font:11px/19px "Open Sans",sans-serif;font-weight:700;padding-top:5px}.feed-img-after{width:170px;margin-left:-78px;margin-top:69px}.feed-img-after img,.feed-text{width:100%}.feed-img-after p{font:11px/19px "Open Sans",sans-serif;font-weight:700;padding-top:3px}.feed-text{display:block;margin-left:0;background:#cff0f6;padding:14px 4.7% 15px}.feed-text p{font:15px/24px "Open Sans",sans-serif;font-weight:500;padding-bottom:24px}.feed-text p span{font:24px/30px "Open Sans",sans-serif;font-weight:700}.feed-text p:last-child{padding-bottom:0}.feed-text p:first-child{padding-bottom:32px}.feed-nav{display:none}.feed-nav-mobile{display:table;width:90.9%;margin:15px auto 0}.feed-next,.feed-prev{width:15px;height:27px;display:table-cell;vertical-align:middle;cursor:pointer}.feed-prev{background:url(../img/prev.png) center no-repeat}.feed-next{background:url(../img/next.png) center no-repeat}.feed-round{display:table-cell;vertical-align:middle;text-align:center}.feed-round li{display:inline-block;vertical-align:top;width:29px;height:29px;border-radius:15px;border:2px solid #34bfd1;background:#fff;margin-right:7px;cursor:pointer}.feed-round li:last-child{margin-right:0}.feed-round li.nav-active p{background:#34bfd1;width:17px;height:17px;border-radius:10px;margin:4px 0 0 4px}.consist-block{background:url(../img/consist-bg-mobile.png) center top no-repeat;background-size:cover;margin-top:22px;padding:24px 0 19px}.consist-block-body,.consist-block-name{width:100%;margin:0 auto;position:relative}.consist-block-name{left:0;right:0;bottom:0}.consist-block-round{background:#fff;display:block;width:96.6%;height:109px;margin:0 0 0 3.4%;border-radius:60px 0 0 60px;text-align:left}.cbl-name,.cbl-text,.order-block-list,.order-block-list li,.order-block-name,.take-block-name{text-align:center}.consist-block-round h2{display:block;font:30px/36px "Open Sans",sans-serif;font-weight:700;color:#003d53;padding:22px 0 0 15px;width:132px}.consist-block-round h2 span{font:36px/36px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.consist-block-pack{margin-top:-120px;width:222px;float:right}.consist-block-pack img{width:100%}.consist-block-list{margin:140px auto 0;width:90.9%}.consist-block-list li{width:48%;display:inline-block;vertical-align:top;margin-right:4%;margin-bottom:33px}.cbl-img,.cbl-name{width:100%}.cbl-name,.consist-btn{display:block}.consist-block-list li:nth-child(even){margin-right:0}.consist-block-list li:nth-child(even) .cbl-name p,.consist-block-list li:nth-child(even) .cbl-name p span{font-size:14px}.consist-block-list li:last-child,.consist-block-list li:nth-last-child(2){margin-bottom:0}.consist-block-list li:first-child .cbl-img{margin-top:-39px}.consist-block-list li:nth-child(2) .cbl-img{margin:-10px 0 0 8px}.consist-block-list li:nth-child(2) .cbl-text,.consist-block-list li:nth-child(4) .cbl-text{margin-left:0}.consist-block-list li:nth-child(3) .cbl-img{margin-top:-36px}.consist-block-list li:nth-child(4) .cbl-img{margin-top:-11px}.cbl-info{background:#fff;border-radius:50px;height:204px}.cbl-name{vertical-align:top;margin-top:11px}.cbl-name p{font:18px/24px "Open Sans",sans-serif;font-weight:700;color:#b1d825}.cbl-name p span{color:#003d53;display:block}.cbl-text{margin:12px 0 0 3px}.cbl-text p{font:14px/20px "Open Sans",sans-serif;font-weight:500;color:#003d53}.take-block{width:90.9%;margin:30px auto 0}.take-block-name h2 span{font-size:36px;color:#b1d825}.take-block-list{margin-top:46px}.take-block-list ul{position:relative;height:420px}.take-block-list ul li{width:100%;display:none;vertical-align:top;margin-right:0;text-align:center;position:absolute;top:0;left:0;z-index:3}.take-block-list ul li:last-child{margin-right:0}.take-block-list ul li:after{display:none}.take-block-list ul li.active{display:block}.tbl-img{width:228px;margin:0 auto}.tbl-img img{width:100%}.take-block-nav{display:table}.order-block{width:100%;margin:33px auto 0}.order-block-name h2{font:24px/30px "Open Sans",sans-serif;font-weight:700;color:#003d53}.order-block-name h2 span{font-size:30px;color:#b1d825;display:block}.order-block-list{margin-top:29px}.order-block-list li{width:50%;display:inline-block;vertical-align:top;margin-right:0;position:relative}.order-block-list li:last-child{margin-right:0}.order-block-list li:after{content:'';background:url(../img/order-arr.png) center no-repeat;background-size:contain;width:42px;height:14px;position:absolute;top:145px;right:-10px}.order-block-list li:last-child:after,.order-block-list li:nth-child(even):after{display:none}.obl-img,.obl-img img{width:100%}.obl-info{margin-top:-12px}.obl-info h3{font:14px/35px "Open Sans",sans-serif;font-weight:900;color:#b1d825}.obl-info p{font:16px/21px "Open Sans",sans-serif;font-weight:500;color:#003d53}footer{background:0 0}.footer-info{width:90.9%;margin:53px auto 0}.footer-copy,.footer-pay{width:100%;vertical-align:top;text-align:center}.footer-pay{display:block}.footer-pay p{font:19x/19px "Open Sans",sans-serif;font-weight:700;color:#003d53}.footer-pay ul{margin-top:20px}.footer-pay ul li{display:inline-block;vertical-align:top;margin:0 7px 0 2px}.footer-copy{display:block;margin-left:0;margin-top:24px}.footer-copy p{font:14px/24px Roboto,sans-serif;color:#003d53;padding-bottom:18px}.footer-copy p a{font:16px/24px Roboto,sans-serif;color:#b1d825;text-transform:none;text-decoration:underline}.footer-copy p a:hover{text-decoration:none}.footer-copy p:last-child{padding-bottom:0}}@media (max-width:386px){.pay-block-name h2 span{font-size:18px}}@media (max-width:560px){.feed-content{position:relative;height:620px}}@media (max-width:510px){.feed-content{position:relative;height:640px}}@media (max-width:490px){.feed-content{position:relative;height:660px}}@media (max-width:440px){.feed-content{position:relative;height:720px}.feed-img img{width:100%;margin:0 auto}}@media (max-width:390px){.feed-content{position:relative;height:760px}}.img-responsive{display:inline-block!important;max-width:100%}.owl-dots{text-align:center;padding-top:10px}.owl-dot.active{background-color:#34bfd1}

.errorMessage{
    box-sizing: border-box;
    position: absolute;
    z-index: 100000;
    font-size: 13px;
    background: #DC3434;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    line-height: 13px;
    padding: 8px 12px;
}

.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; }
.copyright img:first-child { display: block!important; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }



.landing__form {
    text-align: center;
}